.cart{
    border-radius: 50%;
    background-color:#c62828;
    color: white;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    margin-top: 0.2rem;
}

.positioning{
    display: flex;
    justify-content: flex-end;
    padding-right: 2.5rem;
}

.title{
    font-size: 3rem;
    text-align: start;
    margin-top: 2.5rem;
    padding-left: 8rem;
}

.components{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.button{
    width:27rem;
    font-size: 1.5rem;
    height: 4rem;
    margin-top: 2rem;
    margin-left: 7rem;
    border-radius: 0.5rem;
    font-weight: 500;
    background-color: white;
    box-shadow: 0 3px 5px 2px rgba(105, 105, 105, .5);
}