.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    border-radius: 5%;
    color: black;
    margin:1rem;
    font-family: 'Poppins';
    box-shadow: 0 3px 5px 2px rgba(105, 105, 105, .5);
}

.text{
    font-size: 1rem;
}

.button{
    margin: 1rem;
    color: black;
    width: 2rem;
    height: 2rem;
    background-color: #bdbdbd;
}

.sold{
    width: inherit;
    height: inherit;
    background-color: #bdbdbd;
    opacity: 0.8;
    color: maroon;
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    margin-top: 0.5rem;
}