.cardContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    background-color: white;
}

.holder{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
