.box{
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 22rem;
    width: 27rem;
    margin-top: 2rem;
    margin-left: 7rem;
    color: black;
    background-color: #bdbdbd;
    border-radius: 1rem;
    box-shadow: 0 3px 5px 2px rgba(105, 105, 105, .5);
}

.innerbox{
    display: flex;
    justify-content: space-around;
    width: inherit;
    font-size: 2.5rem;
}

.divider{
    border: solid 0.05rem;
    width: 75%;
    margin-top: 2rem;
}

.button{
    width:75%;
    font-size: 1.5rem;
    height: 4rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    font-weight: 600;
    background-color: #ffc400;
    box-shadow: 0 3px 5px 2px rgba(105, 105, 105, .5);
}
